:root{
    --fontsmall: clamp(12px, 0.75vw, 20px);
    --fontmedium: clamp(15px, 0.9vw, 30px);
    --fontlarge: clamp(18px, 1vw , 40px);
    --fontxl: clamp(22px, 1.4vw, 50px);
    --padlittle: clamp(5px, 0.3vw, 25px);
    --padmedium: clamp(10px, 0.5vw, 30px);
    --padlarge: clamp(15px, 1vw, 100px);
    --padlarger: clamp(20px, 1.2vw, 150px);
    --gap: clamp(0.5rem, 0.5vw, 2rem);
    --gaplarge: clamp(1rem, 1vw, 4rem);
    --radius: clamp(12px, 0.5vw, 30px);
}
*{
    padding: 0;
    margin: 0;
    line-height: 100%;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
    color: white;
    font-style: normal;
}
body{
    background: url(images/background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.glowcontainer{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}
.lineborder{
    padding: var(--padmedium);
    height: 100%;
    width: 100%;
    background: url(images/glowtopleft.png) top left no-repeat, url(images/glowbottomright.png) bottom right no-repeat;
}
.escape{
    position: absolute;
    bottom: calc(2 * var(--gaplarge));
    right: calc(2 * var(--gaplarge));
    z-index: 200;
}
.escape button{
    padding: calc( var(--padlittle));
    color: black;
    font-weight: 600;
    margin-right: var(--gap);
    border-radius: var(--radius);
    border: 0;  
}
.pointer{
    cursor: pointer;
}
.fontsmall{
    font-size: var(--fontsmall);
}
.fontmedium{
    font-size: var(--fontmedium);
}
.fontlarge{
    font-size: var(--fontlarge);
}
.fontxl{
    font-size: var(--fontxl);
}
.flexsmall{
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.mediumbold{
    font-weight: 500;
}
.semibold{
    font-weight: 600; 
}
.bold{
    font-weight: 700;
}
.grey{
    color: rgba(255, 255, 255, 0.35);
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3eee281;
    border-radius: var(--radius);
}
.taxi-container{
    width: 90%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--fontlarge);
}
.staff-icon{
    width: calc(2.5 * var(--fontmedium));
    aspect-ratio: 1/1;
}
.staff .grey{
    color: rgba(255, 255, 255, 0.65);
}
.icon{
    width: clamp(24px, 1vw, 40px);
    aspect-ratio: 1/1;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gaplarge);
    height: 65vh;
    margin-top: 2rem;
}
.first-small{
    display: flex;
    flex-direction: column;
    gap: calc( 2 * var(--gaplarge));
    background: rgba(255, 255, 255, 0.03);
    border-radius: var(--radius);
    align-items: center;
    padding: calc( 1.5 * var(--padlarger));
    text-align: center;
}
.second-large{
    background: rgba(255, 201, 62, 0.1);
    border: 1px solid rgba(255, 201, 62, 0.2);
    border-radius: var(--radius);
    padding: calc( 1.5 * var(--padlarger));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}
.absolutebg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: url(images/dottedbackground.png) repeat;
}


@media screen and (min-width: 1200px) {
    .taxi-container{
        width: 75%;
    }
    .requirement{
        font-size: calc(1.1 * var(--fontsmall));
        gap: var(--gap);
    }
    .taxi-parallel-logo{
        width: auto;
    }
}
@media screen and (min-width: 1440px) {
    body{
        --fontsmall: clamp(16px, 0.7vw, 30px);
        --fontmedium: clamp(18px, 0.8vw, 40px);
        --fontlarge: clamp(20px, 0.9vw , 50px);
        --fontxl: clamp(22px, 1vw, 60px);
    }
}
@media screen and (min-width: 1800px) {
    body{
        --fontsmall: clamp(18px, 0.7vw, 30px);
        --fontmedium: clamp(20px, 0.8vw, 40px);
        --fontlarge: clamp(22px, 0.9vw , 50px);
        --fontxl: clamp(25px, 0.8vw, 60px);
        --padlittle: clamp(10px, 0.3vw, 25px);
        --padmedium: clamp(15px, 0.5vw, 30px);
        --padlarge: clamp(25px, 1vw, 100px);
    }
    main{
        height: 62.5vh;
    }
}
@media screen and (min-width: 2000px) {
    body{
        --fontsmall: clamp(20px, 0.7vw, 30px);
        --fontmedium: clamp(22px, 0.8vw, 40px);
        --fontlarge: clamp(24px, 0.9vw , 50px);
        --fontxl: clamp(28px, 1vw, 60px);
    }
    .icon{
        width: clamp(35px, 1vw, 50px);
        aspect-ratio: 1/1;
    }
}
@media screen and (min-width: 2300px) {
    body{
        --fontsmall: clamp(24px, 0.7vw, 30px);
        --fontmedium: clamp(26px, 0.8vw, 40px);
        --fontlarge: clamp(28px, 0.9vw , 50px);
        --fontxl: clamp(30px, 1vw, 60px);
        --padlittle: clamp(15px, 0.3vw, 25px);
        --padmedium: clamp(20px, 0.5vw, 30px);
        --padlarge: clamp(30px, 1vw, 100px);
    }
    .icon{
        width: clamp(45px, 1vw, 60px);
        aspect-ratio: 1/1;
    }
}